* {
    padding: 0;
    margin: 0;
}
* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.ui-loader-default {
    display: none
}

.ui-mobile-viewport {
    border: none;
}

.ui-page {
    padding: 0;
    margin: 0;
    outline: 0
}

.portrait {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.container-fluid .row, .row div {
    height: 100%;
}

.nav li {
    text-align: center;
    width: 20%;
    height: 100%;
    float: left;
    line-height: 250%;
    font-weight: bold;
    color: #00aeff;
    font-size: 16px;
}

.nav .nav-active {
    color: gold;
    border-left: 1px solid #00aeff;
    border-right: 1px solid #00aeff;
    border-radius: 20%;
}

.cat-hy {
    position: relative;
    width: 50%;
    height: 50%;
}

.btn-up {

    background: url("/static/img/up.png") 0 0 no-repeat;
    background-size: 100% 100%;

}

.btn-left {
    background: url("/static/img/left.png") 0 0 no-repeat;
    background-size: 100% 100%;
}

.btn-right {
    background: url("/static/img/right.png") 0 0 no-repeat;
    background-size: 100% 100%;
}

.btn-cat {
    background: url("/static/img/btn-car.png") 50% 50% no-repeat;
    background-size: 80% 80%;
}

.btn-v {
    background: url("/static/img/vide.png") 50% 50% no-repeat;
    background-size: 80% 80%;
}

.btn-down {
    background: url("/static/img/down.png") 0 0 no-repeat;
    background-size: 100% 100%;
}

.btn-speed {
    background: url("/static/img/speed.png") 0 0 no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 320%;
}